@import 'assets/_colors.scss';
@import 'assets/_mixins.scss';

.button {
  padding: 20px;
  background: $cl-grey3;
  border: 1px solid $cl-grey3;
  font: 100 1.3em/1em 'Open Sans', sans-serif;
  color: $cl-white;
  display: block;

  @include breakpoint(desktop_big) {
    padding: 40px;
    font-size: 2em;
    line-height: 0;
  }

  &.button--primary {
    margin-top: 40px;
    width: 190px;
    height: 60px;

    @include breakpoint(desktop_big) {
      width: 250px;
      height: 85px;
    }
  }

  &.button--secondary {
    margin-bottom: 40px;
    margin-top: 40px;
    width: 190px;
    height: 60px;

    @include breakpoint(desktop_big) {
      width: 250px;
      height: 85px;
    }
  }

  &:hover {
    background: $cl-pink;
  }

  &.button--submit {
    width: 300px;
    height: 60px;
    margin-top: 20px;
    margin-left: 90px;
  }

  &.button--mrlr10 {
    margin-left: 10px;
    margin-right: 10px;
  }
}
