.form {

    &__input{
    background: linear-gradient(to left, #251340, #22113c, #200f39, #1d0d35, #1b0a32);
    font: 100 1.5em 'Open Sans', sans-serif;
    text-align: left;
    border: solid 1px rgb(102, 95, 95);
    color: rgb(102, 95, 95);
    margin-left: 70px;
    }
    &__input--primary {
        margin-top: 15px;
        width: 1000px;
        height: 120px;
    }
 
    &__input--secondary {
        margin-top: 10px;
        width: 450px;
        height: 60px;
    }
    &__input--tertiary {
        margin-left: 20px;
        width: 450px;
        height: 60px;
        margin-top: 10px;  
    }
}